table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 1500px;
    position: static;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px; 
    max-width: 200px;
    min-width: 100px;
    word-wrap: break-word;
  }

  table td:nth-child(2){/*2nd child should always be the description*/
    max-width: 200px;
  }

  /* table Headers */
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: black;
    
  }
  .header{
      display: inline-flex;
  }
  .headerTextSearch{
      width: 150px;
  }

  /* Global Filter */
  .globalFilterIcon{
      margin-right: 10px;
  }
  .globalFilterText{
    margin: 15px !important;
    background-color: white;
    border-radius: 5px;
    width:330px;
  }
  .globalFilter{
      background-color: #222831;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  .title{
    margin-left: 15px !important;
    color: white;
  }

