.signup_paper {
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
}
.signup_avatar {
    margin: 8px;
    background-color: #f50057 !important;
}
.signup_form {
    width: 100%;
    margin-top: 24px;
}
.signup_button {
    margin: 24px 0 16px !important;
    width: 100%;
}
.signup_page_body {
    background-image: url("../../../assets/images/signupWP.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
.sigup_error{
    color: red;
}