html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.center{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}