.background_img {
    background-image: url("../../../assets/images/signinWP.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.root{
    height: 100vh;
}

.signin_paper {
    display: flex;
    margin: 64px 32px;
    align-items: center;
    flex-direction: column;
}
.signin_avatar {
    margin: 8px;
    background-color: #f50057 !important;
}
.signin_form {
    width: 100%;
    margin-top: 24px;
}
.signin_button {
    margin: 24px 0 16px !important;
    width: 100%;
}
.sigin_error{
    color: red;
}